@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-0 .navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
#header1-1 H1 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
}
#header1-1 B {
  font-size: 22px;
}
#header1-1 P {
  text-align: center;
  color: #ffffff;
}
#header1-1 I {
  font-size: 21px;
}
#msg-box5-9 .lead P {
  text-align: left;
}
#msg-box5-9 .mbr-section-title {
  text-align: left;
}
#msg-box4-a .lead P {
  text-align: right;
}
#msg-box4-a .mbr-section-title {
  text-align: right;
}
#header2-b P {
  text-align: right;
}
#header2-b H1 {
  text-align: right;
}
#header1-d H1 {
  color: #000000;
}
